{% extends 'website/extends/structure.html' %}

{% block structure %}

{% if contacts %}
<div class="contact row m-auto mt-4">
    <div class="col phone">
        <table class="table table-sm table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>NAME</th>
                    <th>CATEGORY</th>
                    <th>PHONE</th>
                    <th>DESCRIPTION<button type="button" class="float-end btn btn-sm btn-outline-primary">Add Contact</button></th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ contact.id }}</td>
                    <td><a href="" class="text-decoration-none">{{ contact.name }}</a></td>
                    <td>{{ contact.category }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
    <center>No Contacts Available</center>
{% endif %}



    
{% endblock structure %}


