{% extends 'website/extends/structure.html' %}

{% block structure %}

{% if contacts %}
<div class="contact row m-auto mt-4">
    <div class="col phone">
        <table class="table table-sm table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>NAME</th>
                    <th>CATEGORY</th>
                    <th>PHONE</th>
                    <th>DESCRIPTION</th>
                    <!-- <th>DESCRIPTION<button type="button" class="float-end btn btn-sm btn-outline-primary">Add Contact</button></th> -->
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'contact-details' contact.id %}" class="text-decoration-none">{{ contact.name }}</a></td>
                    <td>{{ contact.category }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.description }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- pagination -->
<div class="mt-2">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if contacts.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{contacts.previous_page_number}}">Previous</a></li>
            {% endif %}
          
          <!-- <li class="page-item"><a class="page-link" href="#">1</a></li> -->
          <li class="page-item"><a class="page-link" href="?page={{ contacts.number }}">Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}</a></li>

          {% if contacts.has_next %}

          <li class="page-item"><a class="page-link" href="?page={{contacts.next_page_number}}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{contacts.paginator.num_pages}}">Last</a></li>
            
          {% endif %}


          
        </ul>
      </nav>
</div>

{% else %}
    <center>No Contacts Available</center>
{% endif %}



    
{% endblock structure %}


