{% extends 'website/extends/structure.html' %}
{% load humanize %}
{% block structure %}

<div class="row mt-2">
    {% if not products %}
      <center>No results for <strong>{{ search_value }} {% if selected_category %}
        - {{ selected_category }}
      {% endif %}</strong></center>
    {% endif %}
      {% for product in products %}
      
    
      <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mt-2">
        <div class="card p-2 {% if product.category.name == 'Phone' %}phone{% endif %}{% if product.category.name == 'Case' %}case{% endif %}{% if product.category.name == 'Protector' %}protector{% endif %}">
          <div class="phone-image">
    
          </div>
          <div class="h6 text-center"><strong>{{ product.name }}</strong>
            <span class="float-end badge rounded-pill bg-secondary"><small>{{ product.quantity }} pcs</small></span>
          </div>
          <p class="small pb-0 mb-0">
            {% if product.description %}
            {{ product.description }}
            <br>
            {% endif %}
            
            <span class="m-auto text-muted">{{ product.location }}</span>
          </p>
          <div class="clearfix">
            <div class="float-end"><span class="h5">{{ product.sellingPrice|intcomma }} KSH</span></div>
          </div>
          {% if product.quantity > 0 %}   
          <div class="row m-auto">
            <!-- <div class="col"><button class="btn btn-sm btn-outline-success "></button></div> -->
            <!-- <div class="col"><a href="#" class="btn btn-sm btn-outline-primary">cart</a></div> -->
            <div class="col">
              <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#o{{ product.id }}">
                  sell
                </button>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
  
      <!-- Modal -->
      <div class="modal fade" id="o{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content phone-modal row">
              <div class="modal-body">
              
              <div class=""><button type="button" class="float-end btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
              <p class="h6">{{ product.name }}</p>

              <p>
                <small>Max-discount {{ product.discountPrice }} </small>

              </p>
  
              <div>
                <form action="" name="sell" method="POST" class="form-group">
                  {% csrf_token %}
                  <input type="text" name="product" hidden value="{{ product.id }}">
                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">SELL AT KSH</span>
                    <input type="number" class="form-control" name="priceSold" placeholder="{{ product.sellingPrice|intcomma }}" 
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

                    <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
                    <input type="number" class="form-control" value="1" placeholder="1"  name="quantity"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>

                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Payment Via</span>
                    <select name="paymentMethod" class="form-control" id="">
                      <option value="mpesa">Mpesa</option>
                      <option value="cash">Cash</option>
                      <option value="bank">Bank</option>
                    </select>

                    <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
                    <select name="status" class="form-control" id="">
                      <option value="paid">Paid</option>
                      <option value="pending">Pending</option>
                      <option value="canceled">Canceled</option>
                    </select>
                  </div>

                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Add Buyers:</span>

                    <input type="text" class="form-control" name="buyerNumber" placeholder="Phone Number" 
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

                    <input type="text" class="form-control" name="buyerName" placeholder="Name" 
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>

                  <div class="row m-auto">
                    <input type="submit" name="seller" class="form-control input-group-text btn btn-outline-primary" value="SELL">
                  </div>
                  
                </form>
              </div>

          </div>
          </div>
          </div>
      </div>
      {% endfor %}
    </div>

{% endblock structure %}
