{% extends 'website/extends/structure.html' %}

{% block structure %}

{% if products %}
<div class="contact row m-auto mt-4">
  <div class="col phone">
    <table class="table table table-striped table-hover table-responsive">
      <thead>
        <tr>
          <th></th>
          <th>NAME</th>
          <th>CATEGORY</th>
          <th>Quantity</th>
          <th>Buying Price</th>
          <th>Selling Price</th>
          <th>
            <a class="float-end btn btn-sm btn-outline-primary" data-bs-toggle="offcanvas" href="#addProductModel" role="button" aria-controls="offcanvasExample">Add product</a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.id }}</td>
          <td><a href="" class="text-decoration-none">{{ product.name }}</a></td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.buyingPrice }}</td>
          <td>{{ product.sellingPrice }}</td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% else %}
<div class="text-center">Please start adding stock <a class="" data-bs-toggle="offcanvas" href="#addProductModel"
    role="button" aria-controls="offcanvasExample">here</a>.</div>
{% endif %}

<!-- The off canvas -->

<div class="offcanvas offcanvas-end phone-modal" tabindex="-1" id="addProductModel" aria-labelledby="addProduct">
  <div class="offcanvas-header">
    <p class="offcanvas-title h5 text-center" id="offcanvasExampleLabel">ADD PRODUCT</p>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- Start -->
    <div>
      <form action="" class="form-group" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class="form-control btn btn-sm btn-primary" value="ADD PRODUCT">
      </form>
    </div>
    <!-- End -->
  </div>
</div>

{% endblock structure %}