<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #b4e0ff;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home-page' %}"><span class="h5">ERICO ELECTRONICS {% if subtab %}
            - <small>({{ subtab }})</small>
        {% endif %} </span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% if tab == "home" %}




            <form class="d-flex m-auto 2 form"  action="{% url 'home-page'%}" method="POST" name="searcher">
                {% csrf_token%}
                
                <select name="category" class="form-control mx-2" id="" > 
                    <option value=""><small>--- ALL ---</small></option>
                    
                    
                    {% if categories %}
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    {% endif %}

                </select>
                <input id="search" class="form-control me-2 search" value="{{ search_value }}" type="search" name="search_value" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" name="searcher" type="submit">Search</button>
            </form>
                
            {% endif %}

            {% if tab == "sales" %}
            <form class="d-flex m-auto 2 form" role="search" action="{% url 'sales-page'%}" method="post">
                {% csrf_token%}
                <input id="search" class="form-control me-2 search" value="{{ search_value }}" type="search" name="search_value" placeholder="Sales Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            {% else %}
            <div class="m-auto"></div>
            {% endif %}
            

            


            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'home' %}active{% endif %}
                    " aria-current="page" href="{% url 'home-page' %}">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link {% if tab == 'sales' %}active{% endif %}
                    " aria-current="page" href="{% url 'sales-page' %}">Sales</a>
                </li>

                

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if tab == 'settings' %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" >
                        Settings
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item {% if subtab == 'contact' %}active{% endif %}" href="{% url 'contacts-page' %}">Contacts</a></li>
                        <li><a class="dropdown-item {% if subtab == 'products' %}active{% endif %}" href="{% url 'products-page' %}">Stock</a></li>
                        <li><hr class="dropdown-divider"></li>
                        
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/admin">Admin</a></li>
                    </ul>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link {% if tab == 'cart' %}active{% endif %}
                    " aria-current="page" href="{% url 'cart-page' %}">Cart</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a data-bs-toggle="offcanvas" href="#cart" role="button" aria-controls="offcanvasExample"  class="nav-link"  aria-disabled="true">Cart</a>
                </li> -->
            </ul>


        </div>
    </div>
</nav>


<!-- 
    data-bs-scroll="true"
 -->
<div class="offcanvas offcanvas-end"   tabindex="-1" id="cart" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header phone">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">CART</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>ITEM</th>
                    <th>QUANTITY</th>
                    <th>AMOUNT</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Iphone 8</td>
                    <td>2</td>
                    <td>Ksh 66,000</td>
                </tr>
                <tr>
                    <td>Iphone 8 case</td>
                    <td>2</td>
                    <td>Ksh 500</td>
                </tr>
                <tr>
                    <td>Iphone 8 protector</td>
                    <td>2</td>
                    <td>Ksh 800</td>
                </tr>
                <tr>
                    <td colspan="2"> <center><strong>TOTAL</strong></center></td>
                    <td><strong>Ksh 67,300</strong></td>
                </tr>
                
            </tbody>
        </table>
        <center class="mt-4">
            <div class="btn-group form-group" role="group" aria-label="Basic example">
                <!-- <button type="button" class="btn btn-sm btn-info" data-bs-dismiss="offcanvas">CANCEL</button> -->
                <button type="button" class="btn btn-sm btn-info">CLEAR</button>
                <button type="button" class="btn btn-sm btn-primary">HOLD</button>
                <button type="button" class="btn btn-sm btn-info">CHECKOUT</button>
              </div>
        </center>

        <hr>



        <div class="card phone">
            <center><p>HELD LISTS</p></center>

            <div>
                
            </div>

        </div>






    </div>
  </div>