<div class="row mt-2">
    {% for product in products %}
    {% if product.quantity < 1 %}
    
    {% endif %}
  
    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mt-2">
      <div class="card phone p-2">
        <div class="phone-image">
  
        </div>
        <div class="h6 text-center"><strong>{{ product.name }}</strong>
          <span class="float-end badge rounded-pill bg-secondary"><small>{{ product.quantity }} pcs</small></span>
        </div>
        <p class="small pb-0 mb-0">
          {{ product.description }}
          <br>
          <span class="m-auto text-muted">{{ product.location }}</span>
        </p>
        <div class="clearfix">
          <div class="float-end"><span class="h5">{{ product.sellingPrice }} KSH</span></div>
        </div>
        <div class="row m-auto">
          <!-- <div class="col"><button class="btn btn-sm btn-outline-success "></button></div> -->
          <div class="col"><a href="#" class="btn btn-sm btn-outline-primary">view</a></div>
          <div class="col">
            <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#o{{ product.id }}">
                sell
              </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="o{{ product.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content phone-modal row">
            <div class="modal-body">
            
            <div class=""><button type="button" class="float-end btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <p>sell {{ product.name }}</p>

            <div class="row m-auto">
                <div class="col"><center><a href="#" class="btn m-auto btn-sm btn-outline-primary">Add to cart</a></center></div>
                <div class="col"><center><a href="#" class="btn m-auto btn-sm btn-outline-success">Sell</a></center></div>
            </div>
        </div>
        </div>
        </div>
    </div>
  

  
  
    {% endfor %}
  </div>