<div class="row mt-2">
    {% for protector in protectors %}

    {% if protector.quantity > 0 %}

    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3 mt-2">
        <div class="card protector p-2">
            <div class="phone-image">

            </div>
            <div class="h5 text-center"><strong>{{ protector.phone.name }}</strong> - 
                <small class="text-body-primary">{{ protector.type }} Protector</small> 
                <span class="float-end badge rounded-pill bg-dark">{{ protector.quantity }}</span></div>
            <p class="small pb-0 mb-0">
                {% if protector.location %}
                <span class="m-auto text-muted"> {{ protector.location }}</span>
                {% endif %}
            </p>
            <div class="clearfix">
                <div class="float-end"><span class="h5">{{ protector.sellingPrice }} KSH</span></div>
            </div>
        <div class="row m-auto">
            <div class="col"><button class="btn btn-sm btn-outline-success ">To_Cart</button></div>
            <div class="col"><button class="btn btn-sm btn-outline-primary">view</button></div>
            <div class="col"><button class="btn btn-sm btn-outline-success">sell</button></div>
        </div>
        </div>
    </div>
        
    {% endif %}
        
    {% endfor %}
</div>