.nav-link{
    color: rgb(16, 88, 16);
}

.nav-link.active{
    font-size: large;
}

.phone{
    /* background-color: #b4e0ff; */
    background-color: #b4e0ff90;
}

.table-sm{
    padding: 0px;
    margin: 0px;
}
td{
    padding: 0px;
    margin: 0px;
}