.nav-link{
    color: rgb(16, 88, 16);
}

.nav-link.active{
    font-size: large;
}

.phone{
    /* background-color: #b4e0ff; */
    background-color: #b4e0ff90;
}

.phone-modal{
    /* background-color: #b4e0ff; */
    background-color: #e1eef6;
}

.protector{
    background-color: #b4ffc349;
}

.case{
    background-color: #b4baff50;
}



.search{
    /* min-width: 400px; */
    width: 200%;
}